.changePassword{
	&__inner{
		margin-top:110px; width: 460px; padding:50px;
	}

	@media (max-width:  1599px){
		&__inner{
			margin-top:60px;
		}
	}

	@include media-breakpoint-down(xs) {
		&__inner{width: auto; padding:30px; margin-top: 0;}
	}
}