// font classes
.font-rg {font-family: font(rg) !important;}
.font-md {font-family: font(md) !important;}
.font-bd{font-family: font(bd) !important;}
.font-sm{font-family: font(sm) !important;}

// box shadow
.boxShadow{box-shadow: 0 0 20px rgba(41,41,41,0.07);}
.commonShadow{@include box-shadow(0,8px,11px,rgba(#C2C2C2,0.16));}
.boxShadow-sm{@include box-shadow(0,0px,6px,rgba(color(900),0.1));}

// padding 
.p-30{padding:30px;
	@media (max-width:1399px){
		padding: 25px;
	}
}
.p-20{padding:20px;}
//margin
.mb-30{margin-bottom: 30px;}
.adminBg{
	background-color: #F7F8F9;
}
//radius
.commonRadius{
	border-radius:5px;
}

// page loader
.pageLoader{
	min-height: 350px;
  &--list{min-height:inherit;}
	.spinner-border{color: color(500); font-size: inherit; border-width: .20em;}
}
//text-color
.theme-color{color:color(500);}
.green-color{color:color(600);}
.gray-color{color:color(100) !important;}
.gray-dark-color{color:color(200) !important;}
.yellow-color{color:color(700) !important;}
a{
	&.theme-color{color:color(500);
		&:hover{color: darken(color(500), 6%);}
	}
	&.green-color{color:color(600);
		&:hover{color: darken(color(600), 6%);}
	}
  &.gray-color{color:color(100);
    &:hover{color:color(500);}
  }
}
//text-size
.h-22{font-size:22px;}
.h-18{font-size:18px;}
.h-20{font-size:20px;
	@media (max-width:1399px){
		font-size:18px;
	}
}
// loader css
.heartLoader{
  margin:auto;width:50px;height:50px;position:relative;padding:0;
  &:before{
    content:"";background:color(600);position:absolute;top:0;left:0;right:0;bottom:0;
    border-radius:50%;width:100%;height:100%;
  }
  li{
    position:absolute;list-style-type:none;width:3px;height:3px;background:color(50);
    border-radius:50%;opacity:0.5;left:25px;top:12px;
    -webkit-animation: wave 1800ms ease-in-out infinite;
    animation: wave 1800ms ease-in-out infinite;
    &:nth-child(1){-webkit-animation-delay: 100ms;animation-delay: 100ms;}
    &:nth-child(2){-webkit-animation-delay: 200ms;animation-delay: 200ms;}
    &:nth-child(3){-webkit-animation-delay: 300ms;animation-delay: 300ms;}
    &:nth-child(4){-webkit-animation-delay: 400ms;animation-delay: 400ms;}
    &:nth-child(5){-webkit-animation-delay: 500ms;animation-delay: 500ms;}
    &:nth-child(6){-webkit-animation-delay: 600ms;animation-delay: 600ms;}
    &:nth-child(7){-webkit-animation-delay: 700ms;animation-delay: 700ms;}
    &:nth-child(8){-webkit-animation-delay: 800ms;animation-delay: 800ms;}
    &:nth-child(9){-webkit-animation-delay: 900ms;animation-delay: 900ms;}
  }

  @include media-breakpoint-down(md){
    width:40px;height:40px;
    li{left: 19px;top: 8px;}
  }
}