// color variables
$colors:(
    50:  #ffffff,
    80:  #FFF3F5,
    100: #A1A1A2,
    150: #888888,  
    200: #737374, 
    500: #EF384C, 
    600: #4FAF59,
    700: #F68C2B,
    900: #000000, 
);


@function color($color) {
    // checking to see if our $theme-colors map has that $color key
    @if map-has-key($colors, $color) {
    // and if so, it will get that color for us in the map-get syntax
    @return map-get($colors, $color);
  }
    // if not, it will give us a helpful error when we compile
  @error "Unknown `#{$color}` in $colors.";
  @return null;
}

// fonts
$fonts : (
    rg   : 'Muli-Regular',
    md   : 'Muli-Medium',
    bd   : 'Muli-Bold',
    sm   : 'Muli-SemiBold',

);

@function font($font) {
    // checking to see if our $theme-fonts map has that $font key
    @if map-has-key($fonts, $font) {
    // and if so, it will get that font for us in the map-get syntax
    @return map-get($fonts, $font);
  }
    // if not, it will give us a helpful error when we compile
  @error "Unknown `#{$font}` in $fonts.";
  @return null;
}


$imageurl       :    "../images";
$fonturl        :    "../fonts";
