.appointmentPage{
	.appointmentsList{
		&__box{
			margin-bottom: 30px;
			&__top{padding: 20px 20px 20px 95px; position: relative;
				.left{min-height:50px;
					img{height: 50px;width: 50px;position: absolute;left: 20px;top: 20px;}
					h4{font-size:17px;margin-bottom: 3px;}
					span{color:color(200); font-size:11px; @include text-clamp(1);}
				}
			}
			&__footer{
				padding: 20px; border-top:1px solid #F7F8F9;
			}
			.chatbox{margin-top: 5px;}
			.chat{color:color(700); font-size:14px;
				i{font-size:15px; margin-right: 2px; vertical-align: middle;}
				&:hover{
					color: darken(color(700), 7%);
				}
			}
			.phoneCall{height: 30px; width: 30px;border-radius:50%; background:rgba(color(500),0.1); color:color(500); font-size:13px; @include flexcenter();
				&:hover{color:color(50);background:color(500);}
			}
		}
	}
	@media (max-width:1599px){
		.appointmentsList{
			&__box{
				&__top{padding: 20px 15px 20px 75px;
					.left{min-height:45px; max-width:180px;
						img{height: 45px;width: 45px; left: 15px;}
						h4{font-size:15px;}
					}
					.right{
						span{font-size:14px;}
					}
				}
				&__footer{
					padding: 20px 15px;
					.btn{
						&.btn-sm{
							padding-left: 15px; padding-right: 15px;
						}
					}
				}
			}
		}
	}
	@media (max-width:1399px){
		.appointmentsList{
			&__box{
				&__top{
					.left{max-width:160px;
						h4{font-size:14px;}
					}
					.right{
						span{font-size:13px;}
					}
				}
			}
			.row{margin-left: -10px;margin-right: -10px;
				[class*="col-"] {padding-left: 10px; padding-right: 10px;}
			}
		}
	}
}