.doctorDetail{
	&__left{
		&__top{margin-bottom: 25px;}
		img{height: 100px; width: 100px; margin-bottom: 15px;}
		h4{font-size: 20px;}
		.rating{
			i{color:rgba(color(700),0.3);
				&.active{color:color(700);}
			}
		}
		h3{font-size:16px;margin-bottom: 15px;}
		h5{font-size:14px;}
		ul{
			li{
				display: flex; font-family:font(sm);
				span{color:color(100); width: 115px;}
				&:not(:last-child){margin-bottom: 15px;}
			}
		}
		p{color: #333247;}
	}
	&__right{
		.dateSlide{
			h5{margin: 0 25px;}
			a{font-size:20px; vertical-align: middle; position: relative; top: 2px;}
		}
		.dateSlot{
			position: relative; border:1px solid #F2F2F2; border-radius: 10px;padding: 0 45px; overflow: hidden;
			li{
				flex: 1 1 14.285%; text-align:center; padding: 18px 10px; border-radius:5px; cursor: pointer;
				.day{font-size:17px; font-family:font(bd);margin-bottom: 4px; display: block;}
				.date{font-size:15px; color:#808080; margin: 0;}
				&.today-active{background-color:color(600); color:color(50);
					.date{color:color(50);}
				}
			}
			&__icon{
				position: absolute;background:#F7F8F9;color: color(500); width: 42px;position: absolute;left: 0;top: 0;height: 100%;
				text-align: center;display: flex;flex-direction: column;justify-content: center;font-size: 22px; cursor:pointer;@include transition(all 0.3s ease);
				&--right{right: 0;left: auto;}
				&:hover{background:color(500); color:color(50);}
			}
		}
		.timeslot{
			margin: 0 -15px;
			&__list{
				padding: 0 15px; flex: 1 1 25%; max-width: 25%;
				&:not(:last-child){
					margin-bottom: 15px;
				}
				input {
					display: none;
					~ label{
						border: 1px solid color(600); border-radius: 4px; padding: 11px; width: 100%;
						color:color(100); font-size: 14px; cursor:pointer; margin-bottom: 0; text-align: center;
					}
					&:checked{
						~ label{
							color: color(50); background:color(600); border-color: color(600);
							span{
								color: color(50);
							}
						}
					}
					&:disabled{
						~ label{
							border-color:#F2F2F2; background:#F7F8F9; color:#B2B2B2;
						}
					}
				}
			}
		}
		.communicationMode{
			&__list{
				input {
					display: none;
					~ label{
						border: 1px solid rgba(#BFBFBF,0.35); border-radius: 5px; padding: 10px 15px; width: 100%;
						color:color(100); font-size: 18px; font-family:font(sm); cursor:pointer; margin-bottom: 0;
						i{height: 48px;width: 48px; border-radius:50%; background:rgba(color(100),0.1); font-size:22px;
							display: inline-flex; align-items: center; justify-content: center;margin-right: 30px; vertical-align: middle;
						}
					}
					&:checked{
						~ label{
							color: color(50); background:color(600); border-color: color(600);
							i{background-color:rgba(color(50),0.2);}
						}
					}
					&:disabled{
						~ label{
							border-color:#F2F2F2; background:#F7F8F9; color:#B2B2B2;
						}
					}
				}
			}
		}
	}
	@media (max-width:1599px){
		&__left{
			padding: 25px;
			ul{
				li{font-size:15px;
					span{ width:90px;}
				}
			}
		}
	}
	@media (max-width:1399px){
		&__left{
			padding: 20px 15px;
			&__top{margin-bottom: 20px;}
			img{height: 80px; width: 80px;}
			h4{font-size: 18px;}
			h3{font-size:15px;}
			ul{
				li{font-size:13px;
					span{width: 75px;}
					&:not(:last-child){margin-bottom: 10px;}
				}
			}
			.mb-30{margin-bottom: 20px;}
		}
		&__right{
			.dateSlide{
				h5{margin: 0 15px;}
			}
			.dateSlot{
				position: relative; border:1px solid #F2F2F2; border-radius: 10px;padding: 0 45px; overflow: hidden;
				li{
					padding:15px 10px; 
					.day{font-size:15px; }
					.date{font-size:14px; }
				}
			}
			.timeslot{
				margin: 0 -10px;
				&__list{
					padding: 0 10px; 
					input {
						~ label{
							padding: 10px 5px; 
						}
					}
				}
			}
			.communicationMode{
				&__list{
					input {
						display: none;
						~ label{
							padding: 10px 10px; font-size: 16px;
							i{height:40px;width:40px; font-size:18px;margin-right:20px; 
							}
						}

					}
				}
			}
		}
	}
}