.loginPage{
	padding-left: 675px;height: 100vh;
	&__header{position: absolute;top: 30px; right: 140px;z-index: 1;
		.dropdown-toggle{
			font-size: 15px; color:#707070; padding-right: 25px;
			&:after{
				border:0; content: "\e919"; @include absolutecenter(y);right:0;
				font-family: 'icomoon';font-size: 20px;
			}
		}
		.dropdown-menu{
			min-width: 100px; box-shadow: 0 0 20px rgba(227, 227, 227, 0.70); border-radius: 3px;
			border:0;padding:0;margin-top: 10px; left: auto !important; right: 0;
			.dropdown-item{
				padding:12px 15px; font-size: 15px; color:color(150);
				+ .dropdown-item{border-top:1px solid #F5F5F5; }
				&:hover{ 
					color:color(500);} background-color: transparent; 
			}
		}
	}
	&__left{
		background-color:rgba(#F7F7F8,0.78); width: 675px;position: absolute;left: 0;height: 100%;
		.carousel{
			.carousel-caption{
				position: static; padding: 0 15px; margin-top: 80px;
			}
			.carousel-indicators{
				bottom:160px; margin: 0;
				li{
					background:#D0D0D1;height: 14px; width: 14px; border-radius:50%; border:2px solid #D0D0D1;
					margin: 0 5px; opacity: 1;
					&.active{
						background-color:color(50); border-color:color(500);
					}
				}
			}
		}
		h1{font-size: 37px; margin-bottom: 12px; color:color(900);}
		p{color:color(100); font-size:22px;}
	}
	&__right{
		padding:60px 0; background-image: url('../images/patient/login-bg.png');background-repeat: no-repeat;background-position: right top 26%; background-size: 19%;
		.loginWrap{
			width: 680px;
			.logoBox{margin-bottom:70px;}
		}
		&__box{
			padding: 55px 110px; @include box-shadow(0,0,25px,rgba(color(900),0.07));
			h2{font-size:24px; margin-bottom: 30px;}
		}
		.custom-checkbox{
			padding-left: 0;
			.custom-control-label{font-size:20px;padding: 0; margin: 0;padding-left: 37px;
				&:before{height: 25px;width: 25px; top: 50%;transform: translate(0, -50%); }
			}
			.custom-control-input:checked~.custom-control-label{
			    &:before{border-color: color(600);background: color(600); }
			    &:after {
			        background-image: none;border-left: 2px solid color(50);border-bottom: 2px solid color(50);left: 5px;height: 7px;width: 14px;
					top: 50%;transform: rotate(-45deg) translate(0,-50%);left: 9px;margin-top: -3px;
			    }
			}
		}
		.otp-group{
			.form-control{text-align: center;
				&:not(:last-child){margin-right: 8px;}
			}
		}
		.form-group{
			&.gender-field{
				margin-left:-5px;margin-right:-5px;
				.custom-radio{
					padding: 0 5px;width: 100%;
					.custom-control-label{
						color:color(100); font-size:18px; font-family:font(md); border:1px solid #F7F8F9; border-radius:4px;
						padding:15px 10px; text-align: center; margin: 0;
						&:after,&:before{display: none;}
					}
					.custom-control-input:checked~.custom-control-label{
						color: color(600); border-color:color(600);
					}
				}
			}
		}
	}
	&__footer{position: absolute;bottom:30px; color:rgba(#707070,0.58); right: 140px;
		a{color:rgba(color(500),0.58);
			&:hover{color:color(500);}
		}
	}
	@media (max-width:1599px){
		padding-left: 550px;
		&__left{
			width: 550px;
			.carousel{
				.carousel-caption{
					margin-top: 60px;
				}
				.carousel-indicators{
					bottom:130px; 

				}
			}
			h1{font-size: 30px; }
			p{font-size:19px;}
		}
		&__right{
			.loginWrap{
				width: 550px;
				.logoBox{margin-bottom:25px;
					img{max-width:300px;}
				}
			}
			&__box{
				padding:40px 80px; 
				h2{font-size:22px; margin-bottom:25px;}
			}
			.form-group{
				margin-bottom: 15px;
				&.gender-field{
					.custom-radio{
						.custom-control-label{font-size:16px; padding:12px 10px; }
					}
				}
			}
		}
	}
	@media (max-width:1399px){
		padding-left:480px;
		&__left{
			width:480px;
			.carousel{
				.carousel-indicators{
					bottom:125px; 

				}
			}
			h1{font-size:27px; }
			p{font-size:16px;}
		}
		&__right{
			.loginWrap{
				width: 500px;
				.logoBox{margin-bottom:30px;
					img{
						max-width:280px;
					}
				}
			}
			&__box{
				padding:30px 60px;
				h2{margin-bottom:20px;}
			}
			.custom-checkbox{
				
				.custom-control-label{font-size:18px;padding-left: 33px;
					&:before{height:20px;width:20px; }
				}
				.custom-control-input:checked~.custom-control-label{
				    &:after {
				       left: 7px;width: 12px;
				    }
				}
			}
		}
		&__footer{bottom:20px; right: 100px;}
		&__header{position: absolute;top:20px; right:100px;z-index: 1;}
	}
}