.commentsModal{
    &__head{
      position: relative;
      img{height: 40px;width: 40px; position: absolute;left: 20px; top: 7px;}
      .form-control{padding-left: 80px;}
    }
    &__listing{
      position: relative;padding: 0 20px 0 80px;
      img{
        position: absolute; left: 20px; height: 40px; width: 40px; border-radius: 50%;
      }
      h4{font-size: 18px; margin: 0;}
      p{font-size: 18px; margin: 0;}
      &:not(:last-child){margin-bottom: 30px;}
    }
    .seeAll{
      color: color(100);
        &:hover{color:color(500);}
    }
}