/* Switch
   ========================================================================== */

$switch-checked-lever-bg:color(600); 
$switch-bg-color:color(50);
$switch-unchecked-lever-bg:#CECECE;
$switch-radius:15px;
$switch-unchecked-bg:color(50);
$input-disabled-solid-color: 1px solid #CECECE;
.switch,
.switch * {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.switch label {
    cursor: pointer;
    margin: 0px;
}

.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;display: none;
    &:checked+.lever {
        background-color: $switch-checked-lever-bg;
        &:before,
        &:after {
            left: 34px;
        }
        &:after {
            background-color: $switch-bg-color;
        }
    }
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: $switch-unchecked-lever-bg;
    border-radius: $switch-radius;
    transition: background 0.3s ease;
    vertical-align: middle;
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        left: 10px;
        top: 7px;
        transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
    }
    &:before {
        background-color: transparentize($switch-bg-color, .85);
    }
    &:after {
        background-color: $switch-unchecked-bg;
    }
}

// Switch active style
input[type=checkbox]:checked:not(:disabled)~.lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus~.lever::before {
    transform: scale(1.4);
    background-color: transparentize($switch-bg-color, .85);
}

input[type=checkbox]:not(:disabled)~.lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus~.lever::before {
    transform: scale(1.4);
    background-color: rgba(0, 0, 0, .08);
}

// Disabled Styles
.switch input[type=checkbox][disabled]+.lever {
    cursor: default;
    background-color: rgba(0, 0, 0, .12);
}

.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: $input-disabled-solid-color;
}


@media (max-width: 1599px) {
    .switch label .lever{width: 50px;height: 24px;}
    .switch label input[type=checkbox]:checked+.lever:before, .switch label input[type=checkbox]:checked+.lever:after
    {left:33px;}
    .switch label .lever:before, .switch label .lever:after{width: 12px; height: 12px; left: 5px; top: 5px;}
}

